h1.panelTitle {
    margin: 0 0 1em 0;
    font-size: 1.3em;
}

h1#stats-callsign {
    margin: 0;
    font-size: 1.3em;
    text-align: center;
}

p.stats-qth {
    margin-top: 0;
    font-size: 0.8em;
    text-align: center;
}

div.panel {
    background-color: var(--background);
    border: 1px solid var(--text);
    border-radius: 5px;
    color: var(--text);
}

div.menuButton {
    background-color: var(--background);
    border: 1px solid var(--text);
    border-radius: 5px;
}
div.menuButton a {
    color: var(--text);
}
div.menuButtonActive {
    box-shadow: 0px -3px 0px 0px var(--link-color) inset;
}

label.configLabel {
    display: inline-block;
    white-space: nowrap;
}

input#fixedMarkerColour {
    padding: 0;
    border: none;
    height: 1.5em;
    width: 2em;
    position: relative;
    top: 3px;
}

/* Style for small info indicators */
div#loadingStatus {
    margin-bottom: 2em;
}
div#qsoFilterMessage {
    margin-top: 0.1em;
    margin-bottom: 0;
    font-size: 0.8em;
}

/* Style for small info indicators */
div#qsoFilterMessage {
    margin-bottom: 0.3em;
}

table.statsTable th {
    background-color: var(--faded);
}

div.dialog {
    background-color: var(--background);
    border: 1px solid var(--text);
    border-radius: 5px;
}

.leaflet-popup {
    font-size: 14px;
}

.leaflet-popup-content {
    min-width: 310px;
}

/* Marker and popup styles */
.leaflet-tooltip {
    border: none;
    background-color: transparent;
    line-height: 1em;
    font-size: 0.8em;
    font-weight: bold;
    box-shadow: none;
}
.leaflet-tooltip-bottom::before {
    display: none;
}

.leaflet-div-icon {
    background-color: transparent;
    border: none;
}
.gridSquareLabel {
    position: relative;
    top: -50%;
    left: -100%;
    text-align: center;
    color: blue;
    font-weight: bold;
}

i.markerPopupIcon {
    display: inline-block;
    vertical-align: top;
    margin-top: 0.1em;
    width: 1.2em;
}

span.popupBlock {
    display: inline-block;
    white-space: normal;
    margin-right: 1em;
}

/* Text/link styles */
a, .leaflet-container a {
    color: var(--link-color);
    text-decoration: none;
}

a.closeButton {
    font-size: 0.8em;
}

/* Marker outlines */
.leaflet-map-pane div.outlinedmarker svg path:nth-child(2) {
    fill: black !important;
    opacity: 1.0 !important;
}

/* Leaflet.js mods */
/*noinspection CssUnusedSymbol*/
.leaflet-container .leaflet-control-attribution {
    background: none;
    color: var(--text);
}
