h1#title {
    margin: 0;
    font-size: 1.3em;
}

p#subtitle {
    margin-top: 0;
    font-size: 0.8em;
}

div#controls {
    background-color: var(--background);
    border: 1px solid var(--text);
    border-radius: 3px;
    color: var(--text);
}

label.configLabel {
    display: inline-block;
    white-space: nowrap;
}

.leaflet-popup {
    font-size: 14px;
}

/* Marker and popup styles */
/*noinspection CssUnusedSymbol*/
.leaflet-tooltip, .leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: var(--popup-background);
    color: var(--text);
}

/*noinspection CssUnusedSymbol*/
.leaflet-tooltip {
    border: 1px solid var(--popup-background);
}

/*noinspection CssUnusedSymbol*/
.leaflet-tooltip-top::before {
    border-top-color: var(--popup-background);
}

/* Text/link styles */
a, .leaflet-container a {
    color: var(--link-color);
    text-decoration: none;
}

/* Small markers */
.leaflet-map-pane svg.smallicon {
    width: 22px;
    margin-top: 5px;
}
.extra-marker i.fa-smallicon {
    margin-top: 18px;
    font-size: 11px;
}

/* Fudge basic circle icon to be smaller */
.fa-circle {
    font-size: 11.5px !important;
    padding-top: 2px !important;
    padding-left: 0.5px !important;
}

/* Leaflet.js mods */
/*noinspection CssUnusedSymbol*/
.leaflet-container .leaflet-control-attribution {
    background: none;
    color: var(--text);
}
